# This file is the example of environment variables,
# create your own '.env' file based on this template.

# Mongo
MONGO_INITDB_ROOT_USERNAME="fakeadmin"
MONGO_INITDB_ROOT_PASSWORD="useyourownpassword"
MONGO_PORT=27023
